.extra-bold {
  font-weight: 800;
}

.fadeIn  {
  @include animation(fadeIn 0.2s linear);
}

.page-default {
  @extend .flex-grow-1;
  @extend .py-lg-0;
  @extend .py-4;
}

.form-field {
  label {
    color: theme-color('dark');
    font-size: calculateRem(20px);
    font-weight: 800;
  }
  textarea {
    resize: none;
  }
  input, select, textarea {
    &:not([type='checkbox']) {
      border-radius: 10px;
      padding: 20px;
      display: block;
      width: 100%;
      border: 0;
      background-color: rgba(#fff, 0.6);
    }
    &[type='checkbox'] {
      width: 20px;
      height: 20px;
       ~ label {
         margin-bottom: 0;
         margin-left: 10px;
       }
    }
    &[type='radio'] {
      display: none;
      &:checked {
        ~ label {
          background-color: theme-color('primary');
          color: #fff;
        }
      }
      ~ label {
        display: block;
        width: 100%;
        height: 60px;
        background-color: theme-color('light');
        display: flex;
        justify-content: center;
        align-items: center;
        color: theme-color('dark');
        border-radius: 10px;
        cursor: pointer;
      }
    }
    &.error {
      border: 1px solid theme-color('danger');
    }
    &:disabled {
      background-color: rgba(#999, 0.4);
    }
  }
  select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }
  position: relative;
  .select-arrow, .show-password{
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 0;
  }
  .show-password {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
  .spinner-animation {
    position: absolute;
    right: 10px;
    top: 55px;
  }
}

.theme-button {
  padding: 1.2rem 5rem;
  border: 0;
  $color: theme-color('primary');
  color: #fff;
  border-radius: 10px;
  font-size: calculateRem(20px);
  font-weight: 800;
  &.secundary {
    $color: theme-color('secundary');
  }
  background-color: $color;
  @include transition(opacity 0.2s);
  &:hover {
    opacity: 0.9;
  }
  &:disabled {
    opacity: 0.65;
  }
}

.text-underline {
  text-decoration: underline;
}

.card-form {
  background-color: rgba(#fff, 0.3);
  border-radius: 10px;
  @include media-breakpoint-down(sm) {
    padding: 40px 20px;
  }
  padding: 50px;
}

@include keyframes (fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
