@import "./themes";
@import "~bootstrap/scss/bootstrap";
@import "./functions";
@import "./mixins";
@import "./variables";

// Components
@import "./components/navigation.scss";
@import "./components/cardDonation.scss";

// Pages
@import "./pages/dashboard.scss";
@import "./pages/admin-home.scss";

html, body {
  background-color: theme-color('light');
}

body,
input,
textarea,
button {
  font-family: 'Nunito', sans-serif;
}

input, textarea, button {
  font-size: calculateRem(18px);
}

#root, .app {
  height: 100vh;
}

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(#000, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #fff;
}
