@import "./themes";
@import "~bootstrap/scss/bootstrap";
@import "./functions";
@import "./mixins";
@import "./variables";

// Components
@import "./components/navigation.scss";

html, body {
  background-color: theme-color('light');
}

body,
input,
textarea,
button {
  font-family: 'Nunito', sans-serif;
}

input, textarea, button {
  font-size: calculateRem(18px);
}

#root, .app {
  height: 100vh;
}
